@charset "UTF-8"; 
* {
    font-family: Arial, Helvetica, sans-serif;
}

body  {
    background-image: linear-gradient(to right, #F26A1B, #BF2604, #F27D16);
}
main {
    background-color: white;   
    border-radius: 10px;    /* borda */
    box-shadow: 5px 5px 15px rgb(94, 3, 3); /* Sombra da imagem */
    width: 600px;  /* largura centralizaçao */
    padding: 10px; /* tamanho */
    margin: auto;  /* centralizaçao */
}
h1  {
    color: #f2bb16;
    text-align: center;
    text-shadow: 1px 1px 2px #7e6008;
}
h2 {
    color: #0D0000;
}
p {
    text-align: justify;
}